<div class="bg-pink-950 px-5 py-8 h-screen flex flex-col justify-center items-center">
  <h1 class="font-Nunito text-2xl font-extrabold text-center text-amber-500 pt-2"><%= t('home.title')%></h1>
  <hr class="border-amber-500 border-2 w-1/6 mx-auto rounded mt-4 mb-8">
  <div class="border-double border-amber-500 rounded-md border-8 flex-grow overflow-y-scroll bg-orange-50 px-3 py-5">
    <div class="text-pink-950 text-center font-padauk">
      <p><%= t('home.text1')%></p>
      <p><%= t('home.text2')%></p>
      <p><%= t('home.text3')%></p>
      <p><%= t('home.text4')%></p>
    </div>
  </div>
  <div class="flex justify-around mt-5">
    <%= link_to t("generics.log_in"), new_user_session_path, class: "text-xs text-white font-bold bg-blue-600 px-2 py-1 rounded border-double border-4 border-cyan-500 hover:border-blue-600 hover:bg-cyan-300"%>
  </div>
</div>
