<%= render @dish %>

<div>
  <%= link_to "Edit this dish", edit_restaurant_category_dish_path(@dish.category.restaurant_id, @dish.category_id, @dish.id) %> |
  <%= link_to "Back to dishes", restaurant_category_dishes_path %>

  <%= button_to "Destroy this dish", restaurant_category_dish_path, method: :delete %>
</div>
<%= link_to t("generics.back"), restaurant_category_path(params[:restaurant_id], params[:category_id])%>
