<%= form_with(model: restaurant, html: {class:"flex flex-col items-center"}) do |form| %>
  <% if restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-9 w-[90%]">
    <%= form.label t('generics.name'), style: "display: block" %>
    <%= form.text_field :name, class:"w-full" %>
  </div>
  <div class="mb-9 w-[90%]">
    <%= form.label t('restaurant.phone_number'), style: "display: block" %>
    <%= form.text_field :phone_number, class:"w-full" %>
  </div>
  <div class="mb-9 w-[90%]">
    <%= form.label t('restaurant.type'), style: "display: block" %>
    <%= form.text_field :food, class:"w-full" %>
  </div>
  <div class="mb-9 w-[90%]">
    <%= form.label t('restaurant.image'), style: "display: block" %>
    <%= form.text_field :image, class:"w-full" %>
  </div>
  <div class="w-full flex flex-row justify-around">
    <div class="font-montserrat text-sm text-white font-bold bg-red-600 px-2 py-1 rounded border-double border-4 border-orange-500 hover:border-red-600 hover:bg-orange-300">
      <%= form.submit restaurant.persisted? ? t('restaurant.update') : t('generics.new')%>
    </div>
    <%= link_to t('generics.back'), restaurants_path, class: "font-montserrat text-xs text-white font-bold bg-red-600 px-2 py-1 rounded border-double border-4 border-orange-500 hover:border-red-600 hover:bg-orange-300" %>
  </div>
<% end %>
