<div id="<%= dom_id restaurant %>">

<p>
  <strong><%=t('generics.name')%></strong>
  <%= restaurant.name %>
</p>


  <p>
    <strong><%=t('restaurant.phone_number')%></strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong><%=t('restaurant.type')%></strong>
    <%= restaurant.food %>
  </p>

  <p>
    <strong><%=t('restaurant.image')%></strong>
    <%= restaurant.image %>
  </p>

</div>
