<p style="color: green"><%= notice %></p>

<h1><%= t('restaurant.title') %></h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <p>
      <%= link_to t("restaurant.show"), restaurant_path(restaurant) %>
    </p>
  <% end %>
</div>

<%= link_to t('restaurant.new'), new_restaurant_path %>
