<p style="color: green"><%= notice %></p>

<%= render @address %>

<div>
  <%= link_to "Edit this address", edit_restaurant_address_path(@address.restaurant_id, @address.id) %> |
  <%= link_to "Back to addresses", restaurant_addresses_path %>

  <%= button_to "Destroy this address", restaurant_address_path, method: :delete %>
</div>
