<%= form_with(model: category, url: category.persisted? ? restaurant_category_path(category.restaurant_id, category) : restaurant_categories_path, html:{class:"flex flex-col items-center"}) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-9 w-[90%]">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"w-full" %>
  </div>
  <div class="mb-9 w-[90%]">
    <%= form.text_field :restaurant_id, value: params[:restaurant_id], class:"w-full" %>
  </div>
  <div>
    <div>
      <%= form.submit %>
    </div>
    <%= link_to "Back to categories", restaurant_categories_path %>
  </div>
<% end %>
